
/*regole di impaginazione*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
}


/*regole header*/
header{
    
    height: 100px;
    display: flex;  
    align-items: center;
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 60%;
   /* background-color: yellow;*/
    /*border: 2px solid black;*/
    margin: 0 auto; 

}

.second-nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 37%;
   /* background-color: yellow;*/
    /*border: 2px solid black;*/
    margin: 0 auto;  
    
}

ul{    
    display: flex;
    min-width: 200px;
    justify-content: space-between;
    list-style: none;
    padding: 10%;
}

ul li {
    list-style: none;
    font-size: 20px;
}


/* regole di contenuto principale */
.contenitore {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    width: 80%; 
    margin: 0 auto; 
}

/* Colonna in alto */
.colonna-alta {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

/* La riga con due colonne in basso */
.riga {
    display: flex;
    
}

/* Colonne in basso */
.colonna-bassa {
    background-color: lightcoral;
    padding: 20px;
    flex: 1; 
    text-align: center;
}