
/*regole di impaginazione*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

main{
    padding-top: 50px;
    padding-bottom: 20px;
}


/*regole header*/
header{
    height: 50px;
    background-color:#fff;
    position: fixed;
    width: 100%;
    z-index: 900;
    display: flex;  
    align-items: center;
    box-shadow: 3px 3px 3px #c5c5c5;
    justify-content: space-between;
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 60%;
   /* background-color: yellow;*/
    /*border: 2px solid black;*/
    margin: 0 auto; 

}

.second-nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* flex-wrap: wrap;*/
    width: 37%;
   /* background-color: yellow;*/
    /*border: 2px solid black;*/
    margin: 0 auto;  
    
}
a{
    text-decoration: none;
    display: block;
}

.main-list{    
    display: flex;
    
    padding-left: 0;
    margin: 0;
    justify-content: space-between;
    text-decoration: none;
    margin: 0;
}

.main-list li {
    list-style: none;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
    padding-top: 5%;
}

.logo-small{
    padding-right: 5%;
}

.img-jumbo{
    background-image: url(../img/jumbo.png);
    background-size: contain;
    max-width: 100%;
    background-repeat: no-repeat;

}

.main-list li:last-child {
    margin-right: 0; 
}
.main-nav, .second-nav {
    display: flex;
    align-items: center;
}
.main-list a {
    text-decoration: none;
}

.second-nav .button {
    margin-left: 20px; 
    background-color: #007bff; 
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    font-size: 18px; 
    border-radius: 5px; 
    display: block;
}


/* regole di contenuto principale */
.bg-img{
    background-color: rgb(7, 175, 216);
    
}

.contenitore {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    width: 80%; 
    margin: 0 auto; 

    
}

.principale{
    width: 70%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.partner{
    background-size: contain; 
    background-repeat: no-repeat;  
    display: flex;
    flex-grow: 1;   
    flex-wrap: wrap;
}

.img-partner{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.min-layout{
    font-size: 25px;
    margin-top: 100px;
}

.container-img{
    display: flex;
    flex-wrap: wrap; 
}

/* Colonna in alto */
.colonna-alta {
    /*background-color: lightblue;*/
    padding: 20px;
    text-align: start;
   /* border: 1px solid black;*/
}
.contattaci{
    margin-top: 5%;
    border: 1px solid black;
    position: relative;
}

.contatta{
    position: absolute;
    right: 5%;
    top: 30%;
}

/* La riga con due colonne in basso */
.riga {
    display: flex;  
    justify-content: space-around;
}

.end{
    color: #fff;
}

.w-30{
    width: 30%;
}

.w-70{
    width: 60%;
}
.custom-input {
    appearance: none;
    padding: 5px;
    border: 5px solid #0061fe;
    border-radius: 50%;
    cursor: pointer;
}
.custom-input:checked {
    background-color: #0061fe;
}

/* Colonne in basso */
.colonna-bassa {
    /*background-color: lightcoral;*/
    padding: 20px;
    text-align: start;
    flex: 1;
    align-items: flex-start;
}
.bordo{
    border: 1px solid black;
}

.piani-mensili{
    display: flex;
    gap: 20px;
    
}

.contenuti{
    max-width: 30%;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: flex-start;
    
}


.servizi-offerti li{
    display: flex;
    margin: 5px 0;
}

.contattaci  p{
    margin-top: 5%;
}
.colonna-bassa > div {
    margin-bottom: 10%; /* margine tra i vari div interni */
}

.colonna-bassa > span {
    margin-bottom: 10%; /* margine tra i vari div interni */
}

.colonna-bassa  hr{
    margin-bottom: 20%; /* margine sotto l'hr */
}


.colonna-bassa h3 {
    margin-bottom: 20%; /* margine sotto l'ul */
}

li{
    margin-bottom: 5%; 
}


.colonna-bassa ul {
    /* margine sotto l'ul */
}

.colonna-bassa .button {
    margin-bottom: 20px; /* margine sotto il pulsante */
}
ul li{
    list-style: none;
}

.title{
    text-align: center;
    min-height: 20px;
    border-top: 1px solid white;
}

.last-title{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 40px;
}
.link-sottolineato{
    border-bottom: 3px solid white;
}

.link-sottolineato:hover{
    border-bottom: 3px solid black;
}


/* regole font*/
h1{
    font-size: 50px;
}

p, h2, input{
    padding-bottom: 2%;
}

.text-jumbo{
    padding-top: 20%;
    padding-bottom: 20%;
    
}
.arrow{
    font-size: 100px;
}
.button{
    color: black;
    list-style: none;
    max-width: 100%;
    border: 1px solid black;
    background-color: rgb(17, 0, 255);
    color: #fff;
    text-align: center;
    vertical-align: 1.5;
    padding: 5px 5px;
    text-decoration: none;
}

.free-trial{
    margin-top: 20%;
}


.small-img{
    background-image: url(../img/business-feature-switching-tools.png);
    background-color: #007bff;
    z-index: 9999;
}


/* regole footer*/

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    max-width: 100%;
    margin: 0 auto;
    background-color: black; 
}   

.last-end{
    color: #fff;
    border-top: 1px solid #fff;    
}

.fa-solid{
    padding-right: 5%;
}

