
/*regole di impaginazione*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

main{
    width: 100%;
}


/*regole header*/
header{
    height: 100px;
    display: flex;  
    align-items: center;
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 60%;
   /* background-color: yellow;*/
    /*border: 2px solid black;*/
    margin: 0 auto; 

}

.second-nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 37%;
   /* background-color: yellow;*/
    /*border: 2px solid black;*/
    margin: 0 auto;  
    
}

.main-list{    
    display: flex;
    min-width: 200px;
    justify-content: space-between;
    list-style: none;
    padding: 10%;
}

.main-list li {
    list-style: none;
    font-size: 20px;
}


/* regole di contenuto principale */
.bg-img{
    background-color: rgb(7, 175, 216);
}

.contenitore {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    width: 60%; 
    margin: 0 auto; 
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.principale{
    width: 50%;

}

/* Colonna in alto */
.colonna-alta {
    /*background-color: lightblue;*/
    padding: 20px;
    text-align: start;
   /* border: 1px solid black;*/
}
.contattaci{
    margin-top: 5%;
    border: 1px solid black;
    position: relative;
}

.contatta{
    position: absolute;
    right: 5%;
    top: 30%;
}

/* La riga con due colonne in basso */
.riga {
    display: flex;  
    justify-content: space-around;
}

.w-30{
    width: 30%;
}

.w-70{
    width: 60%;
}


/* Colonne in basso */
.colonna-bassa {
    /*background-color: lightcoral;*/
    padding: 20px;
    text-align: start;
    border: 1px solid black;
    flex: 1;
}
.piani-mensili{
    display: flex;
    gap: 20px;
    
}

.contattaci  p{
    margin-top: 5%;
}
.colonna-bassa > div {
    margin-bottom: 10%; /* margine tra i vari div interni */
}

.colonna-bassa hr {
    margin-bottom: 20%; /* margine sotto l'hr */
}
.colonna-bassa > ul {
    margin-top: 30%; /* margine sopra l'ul */
}

.colonna-bassa h3 {
    margin-bottom: 20%; /* margine sotto l'ul */
}

li{
    margin-bottom: 5%; 
}


.colonna-bassa ul {
    margin-bottom: 50px; /* margine sotto l'ul */
}

.colonna-bassa .button {
    margin-bottom: 20px; /* margine sotto il pulsante */
}

.title{
    text-align: center;
    min-height: 20px;

}


.img-jumbo{
    background-image: url(../img/jumbo.png);
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;

}

/* regole font*/
h1{
    font-size: 50px;
}

p, h2, input{
    padding-bottom: 2%;
}

.text-jumbo{
    padding-top: 20%;
    padding-bottom: 20%;
    
}
.arrow{
    font-size: 100px;
}
.button{
    color: black;
    list-style: none;
    max-width: 100%;
    border: 1px solid black;
    background-color: rgb(17, 0, 255);
    color: #fff;
    text-align: center;
    vertical-align: 1.5;
    padding: 5px 5px;
    text-decoration: none;
}


/* regole footer*/

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    max-width: 100%; 
    margin: 0 auto; 
    background-color: black; 
}   



